<!-- Extends -->
{% extends '../base/base_layout.html' %}

<!-- Static -->
{% load static %}

<!-- Title -->
{% block title %}
    <title>Inscricao</title>
{% endblock %}

<!-- Style -->
{% block style %}
    <link
            rel="stylesheet"
            type="text/css"
            href="{% static 'css/login/main.css' %}"
    />
{% endblock %}

<!-- Content -->
{% block content %}
    <div class="ui container">
        <form method="POST" action="" class="ui form">
            {% if form.errors %}
                <p>Required Fields not inputed!</p>
            {% endif %}
            {% csrf_token %}

            <h1>Inscrever-se</h1>
            <div class="field">
                <label>{{ form.qtd_pessoas.label }}</label>
                {{ form.qtd_pessoas }}
            </div>
            <div class="field">
                <label>{{ form.santa_ceia.label }}</label>
                {{ form.santa_ceia }}
            </div>
            <div class="field">
                <label>{{ form.nome.label }}</label>
                {{ form.nome }}
            </div>
            <div class="field">
                <label>{{ form.telefone.label }}</label>
                {{ form.telefone }}
            </div>
            <button class="ui teal button" type="submit">Inscrever-se</button>

        </form>
    </div>
{% endblock %}