<!-- Extends -->
{% extends '../base/base_layout.html' %}

<!-- Static -->
{% load static %}

<!-- Title -->
{% block title %}
    <title>Inscricao</title>
{% endblock %}

<!-- Style -->
{% block style %}
    <link
            rel="stylesheet"
            type="text/css"
            href="{% static 'css/login/main.css' %}"
    />
{% endblock %}

<!-- Content -->
{% block content %}
    <div class="content">
        <div id="login">

            <form method="POST" action="">
                {% if form.errors %}
                    <p>Required Fields not inputed!</p>
                {% endif %}
                {% csrf_token %}

                <h1>Inscrever-se</h1>

                <p>
                    <label>{{ form.qtd_pessoas.label }}</label>
                <div class="input-username">{{ form.qtd_pessoas }}</div>
                </p>

                <p>
                    <label>{{ form.santa_ceia.label }}</label>
                <div class="input-username">{{ form.santa_ceia }}</div>
                </p>
                <p>
                    <label>{{ form.nome.label }}</label>
                <div class="input-username">{{ form.nome }}</div>
                </p>
                <p>
                    <label>{{ form.telefone.label }}</label>
                <div class="input-username">{{ form.telefone }}</div>
                </p>

                <p>
                    <input type="submit" value="Inscrever-se"/>
                </p>
            </form>
        </div>
    </div>
{% endblock %}