<!-- Extends -->
{% extends '../base/base_layout.html' %}

<!-- Static -->
{% load static %}

<!-- Title -->
{% block title %}
    <title>Culto</title>
{% endblock %}

<!-- Style -->
{% block style %}
    <link
            rel="stylesheet"
            type="text/css"
            href="{% static 'css/culto/main.css' %}"
    />
{% endblock %}
{% block content %}
    <div class="ui container">
        <div id="login">
            <form class="ui form" method="POST" action="">
                {% csrf_token %}
                <h1>Quer mesmo cancelar sua inscricao: <text style="color: #4ab3c6">{{ inscricao.token }}</text>?</h1>
                <a href="{% url 'apphome:home' %}">
                    <button class="ui green button">Nao</button>
                </a>
                <input class="ui red inverted button" type="submit" value="Sim">
            </form>
        </div>
    </div>
{% endblock %}