<!-- Extends -->
{% extends '../base/base_layout.html' %}

<!-- Static -->
{% load static %}

<!-- Title -->
{% block title %}
    <title>Cultos</title>
{% endblock %}

<!-- Style -->
{% block style %}
    <link
            rel="stylesheet"
            type="text/css"
            href="{% static 'css/culto/main.css' %}"
    />
{% endblock %}

<!-- Content -->
{% block content %}
    <div class="ui container">
    <form method="post" class="ui form">
        {% csrf_token %}
        <div class="field">
            <label>Qual o token?</label>
            <input required type="number" name="token" placeholder="Ex: 188164">
        </div>

        <button class="ui red inverted button" type="submit">Cancelar Inscricao</button>
    </form>
    </div>

{% endblock %}