<!-- Extends -->
{% extends '../base/base_layout.html' %}

<!-- Static -->
{% load static %}

<!-- Title -->
{% block title %}
    <title>Culto</title>
{% endblock %}

<!-- Style -->
{% block style %}
    <link
            rel="stylesheet"
            type="text/css"
            href="{% static 'css/culto/main.css' %}"
    />
{% endblock %}
{% block content %}
    <div class="content">
        <div id="login">
            <form method="POST" action="">
                {% csrf_token %}
                Quer mesmo cancelar sua inscricao: {{ inscricao.token }}
                <a href="{% url 'apphome:home' %}">
                    <button style="background-color: green">Nao</button>
                </a>
                <input style="background-color: red" type="submit" value="Sim">
            </form>
        </div>
    </div>
{% endblock %}