<!-- Extends -->
{% extends '../base/base_layout.html' %}

<!-- Static -->
{% load static %}

<!-- Title -->
{% block title %}
    <title>Inscricao</title>
{% endblock %}
{% block style %}
    <link
            rel="stylesheet"
            type="text/css"
            href="{% static 'css/login/main.css' %}"
    />
{% endblock %}

<!-- Content -->
{% block content %}
    <div class="container">
        <div class="center">
            <h1 class="text">Seu token é {{ token }}</h1>

            <h2 class="ui red">Anote esse token, para caso
                necessário poder cancelar sua inscrição</h2>

            <a href="{% url 'apphome:home' %}">
                <button class="ui primary basic button">Retornar ao menu principal</button>
            </a>

        </div>
    </div>


{% endblock %}