<!-- Extends -->
{% extends '../base/base_layout.html' %}

<!-- Static -->
{% load static %}

<!-- Title -->
{% block title %}
    <title>Cultos</title>
{% endblock %}

<!-- Style -->
{% block style %}
    <link
            rel="stylesheet"
            type="text/css"
            href="{% static 'css/culto/main.css' %}"
    />
{% endblock %}

<!-- Content -->
{% block content %}
    <div class="ui container">
    {% if cultos %}
        {% for item in cultos %}
            <div class="card">
                <div class="ui teal inverted segment">
                    <h2>Culto dia {{ item.data.day }}/{{ item.data.month }} as {{ item.horario }}</h2>
                </div>
                <div class="local">
                    <p><b>Local:</b> {{ item.local.short_description }} ({{ item.local.rua }}, {{ item.local.numero }})
                    </p>
                </div>
                <div class="vagas">
                    <span><b>Vagas Disponíveis:</b> {{ item.vagas }}</span>
                </div>
                <div class="">
                    <a class="ui blue button"
                       href="{% url 'appinscricao:add_inscricao' item.id %}">Inscrever-se</a>
                    {% if user.username %}
                        <a class="ui yellow tiny button"
                           href="{% url 'appculto:inscricoes_culto' item.id %}">Ver Inscricoes</a>
                        <a class="ui green mini icon button"
                           href="{% url 'appculto:update_culto' item.id %}"><i class="edit icon"></i></a>
                    {% endif %}
                </div>
            </div>
        {% endfor %}

    </div>
    {% else %}
        <h1>Sem cultos cadastrados!</h1>
    {% endif %}
{% endblock %}
