<!-- Extends -->
{% extends '../base/base_layout.html' %}

<!-- Static -->
{% load static %}

<!-- Title -->
{% block title %}
    <title>Editar Culto</title>
{% endblock %}

<!-- Style -->
{% block style %}
    <link
            rel="stylesheet"
            type="text/css"
            href="{% static 'css/culto/main.css' %}"
    />
{% endblock %}

<!-- Content -->
{% block content %}
    <div class="ui container">
        <form method="POST" action="" class="ui form">
            {% if form.errors %}
                <p>Required Fields not inputed!</p>
            {% endif %}
            {% csrf_token %}

            <h1>Editar Culto</h1>
            <div class="field">
                <label>{{ form.data.label }}</label>
                {{ form.data }}
                <text style="color:darkred;">FORMATO: YYYY-MM-DD</text>
            </div>
            <div class="field">
                <label>{{ form.horario.label }}</label>
                {{ form.horario }}
            </div>
            <div class="field">
                <label>{{ form.limite.label }}</label>
                {{ form.limite }}
            </div>
            <div class="field">
                <label>{{ form.vagas.label }}</label>
                {{ form.vagas }}
            </div>
            <div class="field">
                <label>{{ form.local.label }}</label>
                {{ form.local }}
            </div>
            <button class="ui red inverted button" type="submit">Atualizar</button>
        </form>
    </div>


{% endblock %}