<!-- Extends -->
{% extends '../base/base_layout.html' %}

<!-- Static -->
{% load static %}

<!-- Title -->
{% block title %}
<title>Home</title>
{% endblock %}

<!-- Style -->
{% block style %}
<link
  rel="stylesheet"
  type="text/css"
  href="{% static 'css/home/main.css' %}"
/>
{% endblock %}

<!-- Content -->
{% block content %}
<div class="content">
  <div class="text">
    <h1>Bem Vindo</h1>
    <div class="subheading">
      <p>
        Ferramenta desenvolvida com o objetivo de controlar o tráfego de pessoas
        nas igrejas.
      </p>
    </div>
  </div>
  <div id="img"></div>
</div>
{% endblock %}
